*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase config (DO NOT SHARE)
**/google-services.json

# Firebase Admin SDK service key
/app/serviceAccountKey.json
**/serviceAccountKey.json


# Keystore & credentials
*.keystore
*.jks

# IDE / Android Studio files
.idea/
.kotlinc/
.gradle/
local.properties

# Build outputs
build/
app/build/

# Logs
*.log
